.profile{
    display: flex;
flex-direction: row;    gap: 40px;
    height: 100vh;
    width: 300px;
    padding-top: 40px;
justify-content: center; 
   background-color: rgb(148, 125, 168);
}



.userData{
    flex-grow: 1; 

}
.profileLinks nav{
    height: calc(100dvh-60px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
a{
    color: #fff;
    text-decoration: none;
}
.textstyle,span{
    font-family: cursive;
    color: rgb(72, 72, 110)!important;
    padding-left: 10px;
}
